<section class="vh-100 adminLoginresponsive">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <div class="card shadow-5-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="text-center">
              <img
                src="../../images/VMart-logo.png"
                style="width: 135px"
                alt="logo"
              />
            </div>
            <br />
            <h1 class="mb-5">Admin Login</h1>

            <form id="adminSignInForm" class="form2" style="text-align: left">
              <div class="form-control2">
                <label for="username">Email</label>
                <input
                  onkeyup="adminSignIn()"
                  type="email"
                  placeholder="florinpop@gmail.com"
                  id="adminLoginemail"
                  name="email"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
              </div>
              <div class="form-control2">
                <label for="username">Password</label>
                <input
                  onkeyup="adminSignIn()"
                  type="password"
                  placeholder="Password"
                  id="adminLoginpassword"
                  name="password"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
              </div>
            </form>

            <button
              onclick="adminSignInButton ()"
              class="btn btn-primary btn-lg btn-block"
              type="submit"
              style="background-color: #14a44d"
            >
              Login
            </button>

            <div class="text-center mt-4">
              <label
                class="text-center"
                for=""
                id="adminLoginErrorLabel"
                style="color: red"
              ></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-7 col-xl-6"></div>
    </div>
    &copy;copyright Vmart.Inc by David Raphi
  </div>
</section>
<script src="../../javascripts/adminAjax.js"></script>
