<aside
  class="sidebar-left border-right bg-white shadow"
  id="leftSidebar"
  data-simplebar
>
  <a
    href="#"
    class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3"
    data-toggle="toggle"
  >
    <i class="fe fe-x"><span class="sr-only"></span></i>
  </a>
  <nav class="vertnav navbar navbar-light" style="box-shadow: none !important">
    <!-- nav bar -->
    <div class="w-100 mb-4 d-flex">
      <a
        class="navbar-brand mx-auto mt-2 flex-fill text-center"
        href="/homepage"
      >
        <img
          src="../../images/VMart-logo.png"
          id="logo"
          class="navbar-brand-img brand-sm"
        />

        &nbsp;&nbsp;&nbsp;
        <p class="mt-4">Vmart.Inc</p>
      </a>
    </div>
    <ul class="navbar-nav flex-fill w-100 mb-2">
      <li class="nav-item dropdown">
        <a href="/admin_panel" aria-expanded="false" class="nav-link">
          <i class="fe fe-home fe-16"></i>
          <span class="ml-3 item-text">Dashboard</span
          ><span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a href="#profile" aria-expanded="false" class="nav-link">
          <i class="fe fe-user fe-16"></i>
          <span class="ml-3 item-text">Profile</span>
        </a>
      </li>
    </ul>
    <p class="text-muted nav-heading mt-4 mb-1">
      <span>User Management</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2">
      <li class="nav-item dropdown">
        <a
          href="/admin_panel/user_management/1"
          aria-expanded="false"
          class="nav-link"
        >
          <i class="fe fe-users fe-16"></i>
          <span class="ml-3 item-text">Users List</span>
        </a>
      </li>
    </ul>

    <p class="text-muted nav-heading mt-4 mb-1">
      <span>Product Management</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2">
      <li class="nav-item w-100">
        <a class="nav-link" href="/admin_panel/category">
          <i class="fe fe-layers fe-16"></i>
          <span class="ml-3 item-text">Categories</span>
        </a>
      </li>
      <li class="nav-item w-100">
        <a class="nav-link" href="/admin_panel/products">
          <i class="fe fe-calendar fe-16"></i>
          <span class="ml-3 item-text">Products List</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          href="/admin_panel/order_management/1"
          aria-expanded="false"
          class="nav-link"
        >
          <i class="fe fe-shopping-cart fe-16"></i>
          <span class="ml-3 item-text">Orders List</span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a href="/admin_panel/coupons" aria-expanded="false" class="nav-link">
          <i class="fe fe-gift fe-16"></i>
          <span class="ml-3 item-text">Coupons</span>
        </a>
      </li>
      <br />
      <li class="nav-item dropdown">
        <a href="/admin_panel/logout" aria-expanded="false" class="nav-link">
          <i class="fe fe-log-out fe-16"></i>
          <span class="ml-3 item-text text-danger">LogOut</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
